FillFrame[fill = "1"]{
    background-color: #FF0000;
}
FillFrame[fill = "2"]{
    background-color: #FEDCBA;
}
FillFrame[fill = "3"]{
    background-color: #FFFF00;
}
FillFrame[fill = "4"]{
    background-color: #00FF00;
}
FillFrame[fill = "5"]{
    background-color: #00FFF0;
}
FillFrame[fill = "6"]{
    background-color: #0000FF;
}
FillFrame[fill = "7"]{
    background-color: #F000FF;
}
